@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');
html, body {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    background-color: white;
  }
  
.sushi-bg{
    height: 50vh;
    background-image: url('../images/sushi-bg.jpg');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
    text-align: center;
    position: relative;
}
.sushi-title{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.bg-black{
    background-color: #292c35;
}
body.dark {
    background-color: #292c35;
    
    
  }
head.dark {
    background-color: #292c35;
}
